# Don't generate documentation for classes from file or directory with this mask
# This should be set in the cli options
skipDocPath:

# List of allowed file extensions
extensions: [php]

# Character set of source files
charset: ['utf-8']

# Main project namespace/package prefix
main:

# Title of generated documentation
title: CakePHP

# Google Custom Search ID
googleCseId:

# Google Analytics tracking code
googleAnalytics:

# Grouping of classes
groups: auto

# Generate documentation for methods and properties with given access level
accessLevels: [public, protected]

# Generate documentation for elements marked as internal and display internal documentation parts
internal: No

# Generate documentation for PHP internal classes
php: No

# Generate tree view of classes, interfaces and exceptions
tree: Yes

# Generate documentation for deprecated classes, methods, properties and constants
deprecated: Yes

# Generate documentation of tasks
todo: No

# Generate highlighted source code files
sourceCode: Yes

# Add a link to download documentation as a ZIP archive
download: Yes

# Don't display scanning and generating messages
quiet: No

# Display additional information in case of an error
debug: Yes
