{% macro safe_link(source) %}
    {% if source is not null %}
    {% set url = source|to_url %}
    {% apply spaceless %}
        {% if url is not empty %}
            <a href="{{ url }}">{{ source|to_name }}</a>
        {% else %}
            {{ source|to_name }}</a>
        {% endif %}
    {% endapply %}
    {% endif %}
{% endmacro %}
