
/**
 * Rewrite rules for the old to new-docs.
 */
$rewrites = array(
{foreach $classes as $class}
	"class/{$class->name|slugify}" => "class-{$class->name}.html",
{/foreach}
);

header('HTTP/1.0 301 Moved Permanently');
header('Status: 301');

$uri = substr($_SERVER['REQUEST_URI'], 5);

if ($uri && isset($rewrites[$uri])) {
	header("Location: /{$config->template->options->activeVersion}/" . $rewrites[$uri]);
	exit;
}
header('Location: /{$config->template->options->activeVersion}/404.html');
