<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/pages/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://training.cakephp.org/"><i class="fa fa-menu fa-chevron-right"></i>Training</a></li>
<li><a href="https://cakephp.org/pages/meetups"><i class="fa fa-menu fa-chevron-right"></i>Meetups</a></li>
<li><a href="https://my.cakephp.org/login"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="https://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://cakephp.org/pages/newsletter"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="https://www.linkedin.com/groups/4623165"><i class="fa fa-menu fa-chevron-right"></i>Linkedin</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube</a></li>
<li><a href="https://www.facebook.com/CakePHP/"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
